<div class="content">
  <div class="title">
    <h1>Devocional</h1>
  </div>

  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="devocional">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tituloDevocional">
        <th mat-header-cell *matHeaderCellDef>TÍTULO DEVOCIONAL</th>
        <td mat-cell *matCellDef="let row">{{ row.tituloDevocional }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="textoVersiculo">
        <th mat-header-cell *matHeaderCellDef>TEXTO VERSÍCULO</th>
        <td mat-cell *matCellDef="let row">{{ row.textoVersiculo }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="textoDevocional">
        <th mat-header-cell *matHeaderCellDef>TEXTO DEVOCIONAL</th>
        <td mat-cell *matCellDef="let row">{{ row.textoDevocional }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="textoOracao">
        <th mat-header-cell *matHeaderCellDef>TEXTO ORAÇÃO</th>
        <td mat-cell *matCellDef="let row">{{ row.textoOracao }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dataPostagem">
        <th mat-header-cell *matHeaderCellDef>DATA DA POSTAGEM</th>
        <td mat-cell *matCellDef="let row">{{ row.dataPostagem }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="horaPostagem">
        <th mat-header-cell *matHeaderCellDef>HORA DA POSTAGEM</th>
        <td mat-cell *matCellDef="let row">{{ row.horaPostagem }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.id }}">
            <!-- essa rota pega o Id para fazer o Delete -->
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
